{
  "only": [
    "./src/js/*.js",
    "./src/js/**/*.js"
  ],
  "sourceMaps": true,
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
